# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.a1b8ccff7ea82e24fa44ade825c71b4a.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
